<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<%= link_to 'Edit Name', edit_assignment_path(@assignment), :class => "btn btn-default" %> |
<%= link_to 'Back', assignments_path, :class => "btn btn-default" %>
