<h1>Peer Evaluation Tool</h1>
<h3>CSE 3901: Project 6</h3>
<h3>The Techbenders:</h3>
<h3>Omer Alrefaai, Xinyi Chen, Bryce Polito, Ryan Shaffer</h3>


<div>
    <h2>About</h2>
    <p>
    Welcome! Please Sign Up or Sign In to get started. <br><br>
    If you are a student, you can navigate to the "Groups" to see if you have been added to any groups.
    For any groups <br> that you are in, you can create New Evaluations for them using the link below.
    Within an evaluation, you can choose <br> sswhich Group and Assignment you are reviewing for, leave an overall comment, 
    and give ratings and comments <br> for each of your teammates.
    <br><br>

    For instructors and other administrators, you are able to view all students and groups (as well as
    create or destroy them),<br> along with all evaluations. Using the link below, you can update the
    course roster (add and delete students). To view all <br> evaluations within a group, navigate to
    "Groups" and then click "Show Details" on any group.
    </p>
</div>

<%= link_to 'Update Roster', '/roles/1/edit', :class => "btn btn-primary"%><br /><br>
<%= link_to 'View Teams', '/groups', :class => "btn btn-primary"%><br /><br>


<% @groups.each do |group| %>
    <%= link_to "Create Evaluation for #{group.name}", "/groups/#{group.id}/evaluations/new", :class => "btn btn-primary" %> <br />
<% end %>

<br />

