

<div class= "footer">

    <div class="container-fluid text-center text-md-left">

    <div class="row">

    <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase font-weight-bold">Peer Eval Tool</h5>
        <p>Thank you for choosing to use our tool!</p>

    </div>

    <hr class="clearfix w-100 d-md-none pb-3">

    <!-- Grid column -->
    <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Techbenders:</h5>
        <p>Omer Alrefaai</br>
        Xinyi Chen</br>
        Bryce Polito</br>
        Ryan Shaffer</br>
        </p>

    </div>
    <!-- Grid column -->

    </div>
    <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">OSU CSE3901:
    <a href="http://web.cse.ohio-state.edu/~giles.25/3901/labs/project6.html">Project Page</a>
    </div>

</div>