<div class= "footer">

    <div class="footer-copyright text-center py-3">OSU CSE3901 (AU20):
    <a href="http://web.cse.ohio-state.edu/~giles.25/3901/labs/project6.html">Course Project Page</a>
    </br>
    Techbenders: Omer Alrefaai, Xinyi Chen, Bryce Polito, Ryan Shaffer
    </div>

</div>