<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #FFFFFF">
  <div class="container-fluid">

    <div class="navbar-header">
    <a class="navbar-brand" href="/">Peer Evaluation Tool</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/groups">Groups</a></li>
      <li><a href="/assignments">Assignments</a></li>
      <li><a href="/evaluations">Evaluations</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign In
            <% end %>
          </li>        
        <% else %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out
            <% end %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>