<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #FFFFFF">
  <div class="container-fluid">
    <div class="navbar-header">
     </div>

     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li><%= link_to "Home", root_path %></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <li><a href="/evaluations">Evaluations</a></li>
        <li><a href="/evaluation_scores/new">New Evaluation</a></li>

      </ul>
    
    </div>
  </div>
</nav>